<!-- Connect to boiler plate
Use bootstrap default alert.
Centre and make smaller using roe and col-6 offset-3 class
Change color.
Acccess err.message in the heading.
Access err.stack for dev purpose.-->
<% layout('layout/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading" style="word-break: break-word;">
                    <%= err.message %>
                </h4>
                <pre style="white-space: pre-wrap; word-break: break-word;"><%= err.stack %></pre>
            </div>
        </div>
    </div>