<% layout('layout/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="shadow mb-5 p-3 bg-body">
            <div class="card-body">
                <h2 class="card-title text-center mb-3">New Campground</h2>
                <!-- FORM TO CREATE NEW CAMPGROUND -->
                <form action="/campgrounds" method="POST" novalidate class="validatedForm"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="campground[location]" required>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Images</label>
                        <input class="form-control" type="file" id="images" name="image" multiple>
                    </div>
                    <div class="input-group mb-3">
                        <label class="form-label" for="price">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="campground[price]" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" name="campground[description]" id="description"
                            required></textarea>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary mb-3">Add Campground</button>
                    </div>
                </form>
            </div>
            <a href="/campgrounds">Back to all campgrounds</a>
        </div>
    </div>
</div>