<% layout('layout/boilerplate') %>
    <!-- Use Bootstrap to center our form -->
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <!-- Here we have created our form to input our campground 
    We need to set the method to POST
    the name can keep content grouped using campground[parameter] syntax
    Finally our button to submit our campground.-->
            <!-- Add bootstrap to control the styling of the form.
    REMEMBER TO INCLUDE THE NAME LINKING BACK TO MONGO DB -->
            <form action="/campgrounds" method="POST" novalidate class="validatedForm">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                </div>
                <!-- For price we use an input group ref to bootstrap docs.
                For description we use a textarea tag.
                Also we colored the submit button.-->
                <div class="input-group mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="campground[description]" id="description" required></textarea>
                </div>
                <button class="btn btn-primary mb-3">Add Campground</button>
            </form>
            <a href="/campgrounds">Back to all campgrounds</a>
        </div>
    </div>